SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=sb_publishable_REPLACE_WITH_YOUR_KEY
OPEN_EXCHANGE_RATES_APP_ID=REPLACE_WITH_YOUR_APP_ID
PASSWORD_RESET_REDIRECT_URL=moneyapp://reset-password
EMAIL_CONFIRM_REDIRECT_URL=moneyapp://email-confirmed
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_LOGIN=REPLACE_WITH_BREVO_SMTP_LOGIN
BREVO_SMTP_KEY=REPLACE_WITH_BREVO_SMTP_KEY


flutter test integration_test\e2e_max_flow_test.dart `
  --dart-define=E2E_EMAIL="joeboulos94@gmail.com" `
  --dart-define=E2E_PASSWORD="Joe1234" `
  --dart-define=E2E_APP_LOCK_PASSCODE=""